.MTrimmedWindow {
	background-color: #FF0000 #00FF00 100% false;
}

.MPart {
	background-color: yellow;
}

.MPart > Label {
	color: blue;
}

.MPart > Button {
	background-color: pink;
}

.MPart > Button:checked {
	background-color: red;
}